@{
    ViewBag.Title = "";
}

 <!-- Blog Entries Column -->
<div class="col-md-8">
    <!-- First Blog Post -->
    <h2>
        <a href="#">Blog Post Title</a>
    </h2>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2>
        <a href="#">Blog Post Title</a>
    </h2>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2>
        <a href="#">Blog Post Title</a>
    </h2>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
    <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
    <hr>
    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>
</div>
<!-- Blog Sidebar Widgets Column -->
 <!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog About Me-->
    <div class="well">
        <h4>Hakkımda</h4>
        <p class="after"></p>
        <p><img class="img-responsive" src="~/Content/Template/img/me.jpg" /></p>
        <p></br>Teknolojiye meraklı, araştırmacı, paylaşımcı, gelişimi ve değişimi seven, hedefini yüksek tutan, şimdiden hayalini yaşayan ve yaşatan sosyal bir öğrenci.</p>
    </div>

    <!-- Follow Me-->
    <div class="well">
        <h4>Beni Takip Et</h4>
        <p class="after"></p>
        <div class="social-menu">
            <ul>
                <li><a href="#"><img src="~/Content/Template/img/f.png" /></a></li>
                <li><a href="#"><img src="~/Content/Template/img/t.png" /></a></li>
                <li><a href="#"><img src="~/Content/Template/img/g.png" /></a></li>
                <li><a href="#"><img src="~/Content/Template/img/y.png" /></a></li>
                <li><a href="#"><img src="~/Content/Template/img/i.png" /></a></li>
            </ul>
        </div>
    </div>

    <!-- Follow Me-->
    <div class="well">
        <h4>Son Yazılar</h4>
        <p class="after"></p>

    </div>
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Kategoriler</h4>
        <p class="after"></p>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                    <li>
                        <a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Tweets Well -->
    @*<div class="well">
        <h4>Tweetler</h4>
        <p class="after"></p>
        <a class="twitter-timeline" href="https://twitter.com/HilalSener_KTU" data-widget-id="656121064754409473">@HilalSener_KTU tarafından gönderilen tweetler</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>*@

    <!-- Side Widget Well -->
    <div class="well">
        <h4>Abone Ol</h4>
        <p class="after"></p>
        <p>Blog yazılarımdan güncel olarak haberdar olmak istiyorsanız. Bu kutucuğa e-mail adresinizi yazıp bir tıkla abone olabilir ve e-mail ile bildirim alabilirsiniz.</p>
        <input class="form-control" type="email" required="required" class="required" placeholder="Email Address" /></br>
        <input class="btn btn-default" type="button" value="Subscribe" name="" />
    </div>
</div>